<section class="tm-container">
    <h2 id="education">Education</h2>
    <article>
        <header>
            <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
            <h4>Master's Degree - IT Manager</h4>
            <span>October 2017 - March 2019</span>
        </header>
        <p>- Managing the human, economic and organizational aspects of the company's IT support<br>
            - Managing the information system by integrating the issues and the strategy of the company<br>
            - Managing projects in the company information system<br>
            - Implementing the technical expertise in IT</p>
    </article>
    <article>
        <header>
            <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
            <h4>Bachelor's Degree - Software engineering manager</h4>
            <span>September 2015 - March 2017</span>
        </header>
        <p>- Collecting, analyzing and formalizing the software needs of the company<br>
            - Developing, managing and piloting a software engineering project<br>
            - Taking part in the design, development and deployment of the solution<br>
            - Ensuring the maintenance in operational condition of the company's software solutions</p>
    </article>
    <article>
        <header>
            <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
            <h4>Associate's Degree - Developer</h4>
            <span>September 2013 - June 2015</span>
        </header>
        <p>- Collecting the need from users<br>
            - Offering functional mock-ups<br>
            - Preparing and seting up the computer / digital environment for the solution to be developed<br>
            - Learning programming languages C, C #, Java, PHP and JavaScript<br>
            - Developing and testing the IT solution from a set of specifications<br>
            - Maintaining the developed solution</p>
    </article>
</section>