<section class="tm-container">
    <h2 id="experience">Education & Experience</h2>
    <div class="tm-experience-list">
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">April 2019 - Now</span>
                <h3>Freelance</h3>
                <div class="tm-experience-item-skill">
                    {% for item in site.data.skills_freelance %}
                    <p>{{ item.name }}</p>
                    {% endfor %}
                </div>
                <h4>Main missions:</h4>
                <ul>
                    <li>Mock-ups and Web development for <a href="https://grow-your-business.fr/accueil" target="_blank"
                            nofollow>Grow Your Business</a></li>
                    <li>Algorithmic trainer for <a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI
                            Alternance</a></li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">October 2019 - March 2020</span>
                <h3><a href="https://www.isi-education.com/" target="_blank" nofollow>ISI Japanese Language
                        School</a></h3>
                <ul>
                    <li>Learning the Japanese language at the Takadanobaba campus (Tokyo) for one semester</li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">September 2015 - May 2019</span>
                <h3><a href="https://www.enedis.fr/" target="_blank" nofollow>Enedis</a></h3>
                <h4>Web Developer (work-study contract)</h4>
                <div class="tm-experience-item-skill">
                    {% for item in site.data.skills_enedis %}
                    <p>{{ item.name }}</p>
                    {% endfor %}
                </div>
                <ul>
                    <li>Operational project management</li>
                    <li>Drafting of specifications</li>
                    <li>Making of mock-ups (Photoshop CC)</li>
                    <li>Web application development (HTML5/CSS3/SASS/PHP5/PHP7/JS)</li>
                    <li>Database Management (MySQL, MariaDB, PostgreSQL, Oracle)</li>
                    <li>Porting tools to operational teams</li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">October 2017 - March 2019</span>
                <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
                <h4>Master's Degree - IT Manager</h4>
                <ul>
                    <li>Managing the human, economic and organizational aspects of the company's IT support</li>
                    <li>Managing the information system by integrating the issues and the strategy of the company</li>
                    <li>Managing projects in the company information system</li>
                    <li>Implementing the technical expertise in IT</li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">September 2015 - March 2017</span>
                <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
                <h4>Bachelor's Degree - Software engineering manager</h4>
                <ul>
                    <li>Collecting, analyzing and formalizing the software needs of the company</li>
                    <li>Developing, managing and piloting a software engineering project</li>
                    <li>Taking part in the design, development and deployment of the solution</li>
                    <li>Ensuring the maintenance in operational condition of the company's software solutions</li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">September 2013 - June 2015</span>
                <h3><a href="http://roll-gom.com/fr/" target="_blank" nofollow>Roll-Gom</a></h3>
                <h4>Web Developer (work-study contract)</h4>
                <div class="tm-experience-item-skill">
                    {% for item in site.data.skills_rollgom %}
                    <p>{{ item.name }}</p>
                    {% endfor %}
                </div>
                <ul>
                    <li>Implementation of website (CMS)</li>
                    <li>Implementation of intranet website (End of studies project)</li>
                    <li>Web development (HTML5/CSS3/PHP5/JS)</li>
                    <li>Maintenance technician (help desk/servers)</li>
                </ul>
            </article>
        </div>
        <div class="tm-experience-item">
            <article>
                <span class="tm-experience-item_timeline"></span>
                <span class="tm-experience-item_date">September 2013 - June 2015</span>
                <h3><a href="https://arras.cesi.fr/" target="_blank" nofollow>CESI Alternance</a></h3>
                <h4>Associate's Degree - Developer</h4>
                <ul>
                    <li>Collecting the need from users</li>
                    <li>Offering functional mock-ups</li>
                    <li>Preparing and seting up the computer / digital environment for the solution to be developed</li>
                    <li>Learning programming languages C, C #, Java, PHP and JavaScript</li>
                    <li>Developing and testing the IT solution from a set of specifications</li>
                    <li>Maintaining the developed solution</li>
                </ul>
            </article>
        </div>
    </div>
</section>
</a>