<section>
    <h2 id="exp-edu">{{site.data.experience.h2[page.lang]}}</h2>
    <div>
        <div class="tm-exp-edu-list">
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__project"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.blog.date[page.lang]}}</span>
                    <h3><a href="https://blog.tristanmeyrowski.com/" target="_blank">blog.tristanmeyrowski.com</a></h3>
                    <p class="tm-exp-edu-description">{{site.data.experience.list.blog.description[page.lang]}}</p>
                   <!-- <div class="tm-exp-edu-example">
                        <figure class="tm-exp-edu-example-figure">
                            <img class="tm-exp-edu-example-img"
                                src="{{site.data.experience.list.blog.thumbnail[page.lang]}}"
                                alt="{{site.data.experience.list.blog.thumbnail-alt[page.lang]}}">
                        </figure>
                    </div> -->
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__project"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.portfolio.date[page.lang]}}</span>
                    <h3>tristanmeyrowski.com</h3>
                    <p class="tm-exp-edu-description">{{site.data.experience.list.portfolio.description[page.lang]}}</p>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__study"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.isi.date[page.lang]}}</span>
                    <h3><a href="https://www.isi-education.com/" target="_blank" rel="nofollow">ISI Japanese Language
                            School</a></h3>
                    <p class="tm-exp-edu-description">{{site.data.experience.list.isi.description[page.lang]}}</p>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__work"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.gyb.date[page.lang]}}</span>
                    <h3><a href="https://grow-your-business.fr/accueil" target="_blank" rel="nofollow">Grow Your
                            Business</a></h3>
                    <h4>Freelance</h4>
                    <p>{{site.data.experience.list.gyb.description[page.lang]}}</p>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__work"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.cesi1904.date[page.lang]}}</span>
                    <h3><a href="https://arras.cesi.fr/" target="_blank" rel="nofollow">CESI
                            Alternance</a></h3>
                    <h4>Freelance</h4>
                    <p>{{site.data.experience.list.cesi1904.description[page.lang]}}</p>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__study"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.msi.date[page.lang]}}</span>
                    <h3><a href="https://arras.cesi.fr/" target="_blank" rel="nofollow">CESI Alternance</a></h3>
                    <h4>{{site.data.experience.list.msi.title[page.lang]}}</h4>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__award"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.toiec.date[page.lang]}}</span>
                    <h3>TOIEC</h3>
                    <h4>{{site.data.experience.list.toiec.score[page.lang]}}</h4>
                    <p class="tm-exp-edu-description"><i>{{site.data.experience.list.toiec.validity[page.lang]}}</i></p>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__study"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.ril.date[page.lang]}}</span>
                    <h3><a href="https://arras.cesi.fr/" target="_blank" rel="nofollow">CESI Alternance</a></h3>
                    <h4>{{site.data.experience.list.ril.title[page.lang]}}</h4>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__work"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.enedis.date[page.lang]}}</span>
                    <h3><a href="https://www.enedis.fr/" target="_blank" rel="nofollow">Enedis</a></h3>
                    <h4>{{site.data.experience.list.enedis.job[page.lang]}}</h4>
                    <ul>
                        <li>{{site.data.experience.list.enedis.description.one[page.lang]}}</li>
                        <li>{{site.data.experience.list.enedis.description.two[page.lang]}}</li>
                        <li>{{site.data.experience.list.enedis.description.three[page.lang]}}</li>
                        <li>{{site.data.experience.list.enedis.description.four[page.lang]}}</li>
                        <li>{{site.data.experience.list.enedis.description.five[page.lang]}}</li>
                        <li>{{site.data.experience.list.enedis.description.six[page.lang]}}</li>
                    </ul>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__study"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.di.date[page.lang]}}</span>
                    <h3><a href="https://arras.cesi.fr/" target="_blank" rel="nofollow">CESI Alternance</a></h3>
                    <h4>{{site.data.experience.list.di.title[page.lang]}}</h4>
                </article>
            </div>
            <div class="tm-exp-edu-item">
                <span class="tm-exp-edu-item_timeline tm-exp-edu-item_timeline__work"></span>
                <article>
                    <span class="tm-exp-edu-item_date">{{site.data.experience.list.rollgom.date[page.lang]}}</span>
                    <h3><a href="http://roll-gom.com/fr/" target="_blank" rel="nofollow">Roll-Gom</a></h3>
                    <h4>{{site.data.experience.list.rollgom.job[page.lang]}}</h4>
                    <ul>
                        <li>{{site.data.experience.list.rollgom.description.one[page.lang]}}</li>
                        <li>{{site.data.experience.list.rollgom.description.two[page.lang]}}</li>
                        <li>{{site.data.experience.list.rollgom.description.three[page.lang]}}</li>
                        <li>{{site.data.experience.list.rollgom.description.four[page.lang]}}</li>
                    </ul>
                </article>
                <span class="tm-exp-edu-item_timeline__end"></span>
            </div>
        </div>
    </div>
</section>