<section class="tm-footer">
    <div class="tm-footer-icon-list">
        <a href="https://www.linkedin.com/in/tristan-meyrowski/" target="_blank">
            <div class="tm-introduction-icon"><i class="tm-icon_linkedin"></i></div>
        </a>
        <a href="https://github.com/TMeyrowski" target="_blank">
            <div class="tm-introduction-icon"><i class="tm-icon_github"></i></div>
        </a>
        <a href="https://www.behance.net/tristan-meyrowski/" target="_blank">
            <div class="tm-introduction-icon"><i class="tm-icon_behance"></i></div>
        </a>
        <a href="https://www.malt.fr/profile/tristanmeyrowski" target="_blank">
            <div class="tm-introduction-icon"><i class="tm-icon_malt"></i></div>
        </a>
    </div>
    <small style>© {{site.data.footer.copyright.date}} {{site.data.footer.copyright.description[page.lang]}}</small>
</section>