<section class="tm-footer">

    <div class="tm-footer-icon-list">
        <a href="https://www.linkedin.com/in/tristan-meyrowski/" target="_blank">
            <div class="tm-introduction-icon"><i class="fab fa-linkedin-in" aria-hidden="true"></i></div>
        </a>
        <a href="https://github.com/TMeyrowski" target="_blank">
            <div class="tm-introduction-icon"><i class="fab fa-github" aria-hidden="true"></i></div>
        </a>
    </div>
    <small style>© {{site.data.footer.copyright.date}} {{site.data.footer.copyright.description[page.lang]}}</small>
</section>