<!doctype html>
<html lang="fr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60513332-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60513332-1');
    </script>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description"
        content="Je suis un développeur web freelance basé à Lille, France. Jetez un œil à mon CV et à mon portfolio.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://tristanmeyrowski.com/fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tristan Meyrowski | Développeur Web">
    <meta property="og:description"
        content="Je suis un développeur web freelance basé à Lille, France. Jetez un œil à mon CV et à mon portfolio.">
    <meta property="og:image" content="https://tristanmeyrowski.com/assets/images/mini_fr.png">
    <meta property="og:image:secure_url" content="https://tristanmeyrowski.com/assets/images/mini_fr.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="700">
    <meta property="og:locale" content="fr_FR">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tristan Meyrowski | Développeur Web">
    <meta name="twitter:description"
        content="Je suis un développeur web freelance basé à Lille, France. Jetez un œil à mon CV et à mon portfolio.">
    <meta name="twitter:image" content="https://tristanmeyrowski.com/assets/images/mini_fr.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/198043f82f.js" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</head>