<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60513332-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60513332-1');
    </script>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description"
        content="I'm a Freelance Web Developer based in Lille, France. Take a look at my resume and my works.">

    <link rel="alternate" hreflang="fr" href="{{ site.url }}/fr" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tristan Meyrowski | Web Developer">
    <meta property="og:description"
        content="I'm a Freelance Web Developer based in Lille, France. Take a look at my resume and my works.">
    <meta property="og:image" content="{{ site.url }}/assets/images/mini_en.png">
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/mini_en.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="700">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tristan Meyrowski | Web Developer">
    <meta name="twitter:description"
        content="I'm a Freelance Web Developer based in Lille, France. Take a look at my resume and my works.">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/mini_en.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/script.js"></script>
</head>