<section>
    <h1>Hi, I'm Tristan Meyrowski</h1>
    <h2>Freelance Web Developper</h2>
    <p>I'm based in Lille (France) and I'm freelance for a little over a year. I've done remote work for <br>agencies or
        individuals to create websites and web applications and I've also worked as a teacher.</p>
    <a href="https://www.linkedin.com/in/tristan-meyrowski/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/TMeyrowski" target="_blank"><i class="fab fa-github"></i></a>
</section>