<section class="tm-background">
    <svg class="tm-background-svg_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,100 100,0" />
    </svg>
    <div class="tm-introduction">
        <div class="tm-introduction_img">
            <img src="/assets/images/tristan_meyrowski.png" alt="photo de profil">
        </div>
        <div class="tm-introduction_text">
            <h1>{{site.data.introduction.h1[page.lang]}}</h1>
            <h2>{{site.data.introduction.h2[page.lang]}}</h2>
            <p class="tm-introduction-description">{{site.data.introduction.description[page.lang]}}</p>
            <div class="tm-introduction-icon-list">
                <a href="https://www.linkedin.com/in/tristan-meyrowski/" target="_blank">
                    <div class="tm-introduction-icon"><i class="tm-icon_linkedin"></i></div>
                </a>
                <a href="https://github.com/TMeyrowski" target="_blank">
                    <div class="tm-introduction-icon"><i class="tm-icon_github"></i></div>
                </a>
                <a href="https://www.behance.net/tristan-meyrowski/" target="_blank">
                    <div class="tm-introduction-icon"><i class="tm-icon_behance"></i></div>
                </a>
                <a href="https://www.malt.fr/profile/tristanmeyrowski" target="_blank">
                    <div class="tm-introduction-icon"><i class="tm-icon_malt"></i></div>
                </a>
            </div>
        </div>
    </div>
    <svg class="tm-background-svg_bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100" />
    </svg>
</section>