<section class="tm-background">
    <svg class="tm-background-svg_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,100 100,0" />
    </svg>
    <div class="tm-container tm-introduction">
        <h1>Hi, I'm Tristan Meyrowski</h1>
        <h2>Freelance Web Developper</h2>
        <p class="tm-introduction-description">I'm based in Lille (France) and I'm freelance for a little over a year.
            I've done remote work for
            <br>agencies or
            individuals to create websites and web applications and I've also worked as a teacher.</p>
        <div class="tm-introduction-icon-list">
            <a href="https://www.linkedin.com/in/tristan-meyrowski/" target="_blank">
                <div class="tm-introduction-icon"><i class="fab fa-linkedin-in"></i></div>
            </a>
            <a href="https://github.com/TMeyrowski" target="_blank">
                <div class="tm-introduction-icon"><i class="fab fa-github"></i></div>
            </a>
        </div>
    </div>
    <svg class="tm-background-svg_bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100" />
    </svg>
</section>