<header class="tm-container-navbar">
    <nav class="tm-navbar">
        <div class="tm-navbar-top">
            <a id="tm-navbar-burger" class="tm-navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
            </a>
        </div>
        <div id="tm-navbar-menu" class="tm-navbar-menu">
            <ul>
                <!-- {% for item in site.data.navigation[page.lang] %}
                <li><a href="{{ item.link }}" {% if item.name == "Blog" %} target="_blank"
                        {% endif %}>{{ item.name }}</a>
                </li>
                {% endfor %} -->
                <li class="tm-navbar-lang">
                    {% if page.lang == "fr" %}
                    <button id="tm-button-lang" class="tm-navbar-lang_button" aria-expanded="false"><img
                            class="tm-navbar-lang_item" src="/assets/images/fr.svg" alt="Fr"></button>
                    <div id="tm-button-lang_hidden" class="tm-navbar-lang_hidden">
                        <a href="{{ site.url }}"><img class="tm-navbar-lang_hidden__item" src="/assets/images/en.svg"
                                alt="en"></a>
                    </div>
                    {% else %}
                    <div id="tm-button-lang_hidden" class="tm-navbar-lang_hidden">
                        <a href="{{ site.url }}/fr"><img class="tm-navbar-lang_hidden__item" src="/assets/images/fr.svg"
                                alt="fr"></a>
                    </div>
                    <button id="tm-button-lang" class="tm-navbar-lang_button" aria-expanded="false"><img
                            class="tm-navbar-lang_item" src="/assets/images/en.svg" alt="en"></button>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>