<section>
    <div class="tm-portfolio">
        <h2 id="portfolio">Portfolio</h2>
        <div class="tm-portfolio-list">
            {% for project in site.projects %}
            <div class="tm-portfolio-list_item">
                <figure class="tm-portfolio-figure">
                    <img class="tm-portfolio-img" src="{{ project.image }}" alt="{{ project.image-alt }}">
                    <figcaption class="tm-portfolio-figcaption">
                        <h2>{{ project.name }}</h2>
                        <p>{{ project.description }}</p>
                        {% if project.state == "project" %}
                        <a href="{{ project.permalink }}">Visit<span><i class="fas fa-chevron-right"></i></span></a>
                        {% else %}
                        <a href="{{ project.permalink }}" class="tm-link_disabled">In development</a>
                        {% endif %}
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>