%timeline {
    position: absolute;
    bottom: 0;
}

#exp-edu {
    @extend %section-title;
}

@media screen and (max-width: 768px) {
    .tm {
        &-exp-edu {
            &-example {
                justify-content: flex-start;
            }
            &-item {
                &:nth-child(odd) {
                    justify-content: flex-end;
                    article {
                        text-align: start;
                        .tm-experience-item-skill {
                            justify-content: flex-start;
                            p {
                                margin-right: 1rem;
                            }
                        }
                    }
                }
                &_timeline {
                    left: 4%;
                    &__end {
                        display: none;
                    }
                }
                article {
                    width: 85%;
                    padding-right: 3%;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .tm {
        &-exp-edu {
            &-item {
                &:nth-child(odd) {
                    justify-content: flex-start;
                    article {
                        text-align: end;
                        .tm-experience-item-skill {
                            justify-content: flex-end;
                            p {
                                margin-left: 1rem;
                            }
                        }
                    }
                    .tm-exp-edu-example {
                        justify-content: flex-end;
                    }
                }
                &:nth-child(even) {
                    .tm-exp-edu-example {
                        justify-content: flex-start;
                    }
                }
                &_timeline {
                    left: calc(50% - 1.7rem);
                    &__end {
                        left: calc(50% - 1rem);
                    }
                }
                article {
                    width: 45%;
                    padding: 0 3%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .tm {
        &-exp-edu {
            &-item {
                &:nth-child(odd) {
                    .tm-exp-edu-description {
                        padding-left: 20%;
                    }
                }
                &:nth-child(even) {
                    .tm-exp-edu-description {
                        padding-right: 20%;
                    }
                }
            }
            &-example {
                &-figure {
                    max-width: 80%;
                }
            }
        }
    }
}

.tm {
    &-exp-edu {
        &-example {
            display: flex;
            &-figure {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                @include border-radius(1.5rem);
                overflow: hidden;
            }
            &-img {
                max-width: 100%;
                width: auto;
                height: auto;
                justify-content: center;
            }
        }
        &-list {
            margin: 5rem 0;
        }
        &-item {
            width: 100%;
            padding-bottom: 5rem;
            display: flex;
            position: relative;
            &:nth-child(even) {
                justify-content: flex-end;
                article {
                    text-align: start;
                    .tm-experience-item-skill {
                        justify-content: flex-start;
                        p {
                            margin-right: 1rem;
                        }
                    }
                }
            }
            &_timeline {
                @extend %timeline;
                top: -0.3rem;
                &::before {
                    border: 0.3rem solid transparent;
                    border-radius: 100%;
                    display: block;
                    height: 2.5rem;
                    position: absolute;
                    width: 2.5rem;
                    text-align: center;
                    font-family: "tm-icon";
                    font-weight: 900;
                    color: $white;
                }
                &::after {
                    content: "";
                    width: 3px;
                    background: #ccd5db;
                    display: block;
                    position: absolute;
                    top: 3.8rem;
                    bottom: 1rem;
                    left: 1.3rem;
                }
                &__study {
                    &::before {
                        background: $studyColor;
                        content: "\E825";
                    }
                }
                &__project {
                    &::before {
                        background: $projectColor;
                        content: "\E803";
                    }
                }
                &__work {
                    &::before {
                        background: $primaryColor;
                        content: "\E82C";
                    }
                }
                &__award {
                    &::before {
                        background: $awardColor;
                        content: "\E800";
                    }
                }
                &__end {
                    @extend %timeline;
                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        width: 1.5rem;
                        height: 0.3rem;
                        background: #ccd5db;
                        bottom: 0.7rem;
                    }
                }
            }
            article {
                position: relative;
                ul {
                    list-style: none;
                }
                h3,
                h4 {
                    margin-bottom: 1rem;
                }
                h4 {
                    font-size: 1.8rem;
                }
                h5 {
                    font-size: 1.6rem;
                }
            }
            &_date {
                font-size: 14px;
                letter-spacing: 0.2rem;
                display: inline-block;
                margin-bottom: 1rem;
            }
        }
    }
}
