#experience {
    @extend %section-title;
}

.tm {
    &-experience {
        &-list {
            margin: 5rem 0;
            /*display: flex;
            flex-grow: 1;
            flex-wrap: wrap;*/
        }
        &-item {
            width: 100%;
            padding-bottom: 5rem;
            display: flex;
            &:nth-child(even) {
                justify-content: flex-end;
                article {
                    text-align: start;
                    .tm-experience-item-skill {
                        justify-content: flex-start;
                        p {
                            margin-right: 1rem;
                        }
                    }
                }
            }
            &:nth-child(odd) {
                justify-content: flex-start;
                article {
                    text-align: end;
                    .tm-experience-item-skill {
                        justify-content: flex-end;
                        p {
                            margin-left: 1rem;
                        }
                    }
                }
            }
            article {
                width: 45%;
                ul {
                    list-style: none;
                }
                h3, h4 {
                    margin-bottom: 1rem;
                }
                h4 {
                    font-size: 1.8rem;
                }
                h5 {
                    font-size: 1.6rem;
                }
            }
            &-skill {
                display: flex;
                flex-wrap: wrap;
                p {
                    background: $primaryColor;
                    padding: 0.25rem 1rem;
                    border-radius: 1.5rem;
                    font-size: 1.4rem;
                    color: $white;
                }
            }
            &_date {
                font-size: 14px;
                letter-spacing: 0.2rem;
                display: inline-block;
                margin-bottom: 1rem;
            }
        }
    }
}
