/*nav {
    display: flex;
    justify-content: space-between;
    .current {
        color: $mainColor;
    }
    ul {
        list-style-type: none;
        li {
            margin: 15px auto;
            text-align: center;
        }
    }
}
*/

.tm {
    &-navbar {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 1024px) {
    .tm {
        &-navbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 10rem;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 50rem;
            }
            span {
                display: none;
            }
            li {
                a {
                    font-size: 1.7rem;
                    font-weight: 300;
                    color: $base;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
