@media screen and (max-width: 768px) {
    .tm {
        &-portfolio {
            &-list {
                &_item {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .tm {
        &-portfolio {
            &-list {
                &_item {
                    width: 50%;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .tm {
        &-portfolio {
            &-list {
                &_item {
                    width: 33.3333%;
                }
            }
        }
    }
}

.tm {
    &-portfolio {
        margin: 0 auto;
        max-width: 1200px !important;
        &-list {
            display: flex;
            margin-top: 5rem;
            flex-wrap: wrap;
            &_item {
                -webkit-box-flex: 0;
                flex: none;
                //width: 33.3333%;
                padding: 1.5rem;
            }
        }
        &-figure {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            @include border-radius(1.5rem);
            overflow: hidden;
            &:hover {
                figcaption {
                    opacity: 1;
                }
            }
        }
        &-img {
            max-width: 100%;
            //max-height: 100%;
            width: auto;
            height: auto;
            justify-content: center;
        }
        &-figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition(0.25s, ease-in-out);
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            background: $darkenPrimaryColor;
            color: $white;
            opacity: 0;
            h2 {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 2rem;
                font-weight: 300;
            }
            a {
                border-radius: 1.5rem;
                padding: 1rem 2rem;
                color: $white;
                align-self: center;
                font-size: 1.6rem;
                font-weight: 300;
                display: flex;
                border: 2px solid $white;
                span i {
                    align-self: center;
                    margin-left: 1rem;
                }
                &:hover {
                    border: 2px solid #2585c9;
                    background: #2585c9;
                    @include transition(0.35s, ease-in-out);
                }
            }
        }
    }
}

#portfolio {
    @extend %section-title;
}
