<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60513332-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60513332-1');
    </script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="text/javascript">
        var userLang = navigator.language || navigator.userLanguage;
        if (userLang == "fr-FR" && window.location.pathname != "/fr") {
            window.location.replace("{{ site.url }}/fr");
        } else {
            window.location.replace("{{ site.url }}/en");
        }
    </script>
</head>

<body>
</body>

</html>