* {
    font-family: "Nunito", sans-serif;
}

:root {
    font-size: 62.5%;
}

a {
    color: $primaryColor;
    &:hover {
        text-decoration: none;
        color: $darkenPrimaryColor;
    }
}

p {
    font-size: 1.6rem;
}