@font-face {
    font-family: 'tm-icon';
    src: url('../font/tm-icon.eot?99150305');
    src: url('../font/tm-icon.eot?99150305#iefix') format('embedded-opentype'),
         url('../font/tm-icon.woff2?99150305') format('woff2'),
         url('../font/tm-icon.woff?99150305') format('woff'),
         url('../font/tm-icon.ttf?99150305') format('truetype'),
         url('../font/tm-icon.svg?99150305#tm-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
   [class^="tm-icon_"]:before, [class*=" tm-icon_"]:before {
    font-family: "tm-icon";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  .tm-icon_award:before { content: '\e800'; }
  .tm-icon_behance:before { content: '\e801'; }
  .tm-icon_bootstrap:before { content: '\e802'; }
  .tm-icon_code:before { content: '\e803'; }
  .tm-icon_codeigniter:before { content: '\e804'; }
  .tm-icon_css3:before { content: '\e805'; }
  .tm-icon_discord:before { content: '\e806'; }
  .tm-icon_docker:before { content: '\e807'; }
  .tm-icon_drupal:before { content: '\e808'; }
  .tm-icon_facebook:before { content: '\e809'; }
  .tm-icon_github:before { content: '\e80a'; }
  .tm-icon_go:before { content: '\e80b'; }
  .tm-icon_grunt:before { content: '\e80c'; }
  .tm-icon_gulp:before { content: '\e80d'; }
  .tm-icon_html5:before { content: '\e80e'; }
  .tm-icon_instagram:before { content: '\e80f'; }
  .tm-icon_joomla:before { content: '\e810'; }
  .tm-icon_jquery:before { content: '\e811'; }
  .tm-icon_js:before { content: '\e812'; }
  .tm-icon_kickstarter:before { content: '\e813'; }
  .tm-icon_laravel:before { content: '\e814'; }
  .tm-icon_linkedin:before { content: '\e815'; }
  .tm-icon_mailchimp:before { content: '\e816'; }
  .tm-icon_malt:before { content: '\e817'; }
  .tm-icon_mariadb:before { content: '\e818'; }
  .tm-icon_mongodb:before { content: '\e819'; }
  .tm-icon_mysql:before { content: '\e81a'; }
  .tm-icon_node-js:before { content: '\e81b'; }
  .tm-icon_oracle:before { content: '\e81c'; }
  .tm-icon_php:before { content: '\e81d'; }
  .tm-icon_pied-piper:before { content: '\e81e'; }
  .tm-icon_postcss:before { content: '\e81f'; }
  .tm-icon_postgresql:before { content: '\e820'; }
  .tm-icon_python:before { content: '\e821'; }
  .tm-icon_redis:before { content: '\e822'; }
  .tm-icon_sass:before { content: '\e823'; }
  .tm-icon_slack:before { content: '\e824'; }
  .tm-icon_study:before { content: '\e825'; }
  .tm-icon_tmeyrowski:before { content: '\e826'; }
  .tm-icon_twitch:before { content: '\e827'; }
  .tm-icon_twitter:before { content: '\e828'; }
  .tm-icon_unity:before { content: '\e829'; }
  .tm-icon_vuejs:before { content: '\e82a'; }
  .tm-icon_wordpress:before { content: '\e82b'; }
  .tm-icon_work:before { content: '\e82c'; }
  .tm-icon_youtube:before { content: '\e82d'; }