@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin transition($duration, $timing){
	-webkit-transition: $duration $timing;
	transition: $duration $timing;
}