$base: #000000;
$white: white;

$primaryColor: #197ACF;
$darkenPrimaryColor: #0F4C81;
$accentColor: #749BA1;
$lightenAccentColor: lighten($accentColor, 15%);
$awardColor: #F4C02A;
$studyColor: #ED553B;
$projectColor: #88B04B;